[color]
	status = auto
	branch = auto
	ui = true
[alias]
	st = status --short --branch
	a = add
	ch = checkout
	b = branch
	crp = cherry-pick
	log-graph = log --graph --date=short --pretty=format:'%Cgreen%h %cd %Cblue%cn %Creset%s'
	log-all = log --graph --all --color --pretty='%x09%h %cn%x09%s %Cred%d%Creset'
[user]
	name = wasanx25
	email = wataru.kikuchi0225@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore_global
[fetch]
	prune = true
[ghq]
	root = ~/src
