[color]
	status = auto
	branch = auto
	ui = true
[alias]
	st = status --short --branch
	a = add
	ch = checkout
	b = branch
	crp = cherry-pick
[user]
	name = wataru0225
	email = wataru.kikuchi0225@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
